$main-color: #fb5751;
$coupon-day-color:#fedddc;



/* nav */
$img-nav-order: url(~@/assets/img/icon/btn_cart-over.png) no-repeat 50% 0;
$img-nav-discount: url(~@/assets/img/icon/btn_coupon-over.png) no-repeat 50% 0;
$img-nav-home: url(~@/assets/img/icon/btn_home-over.png) no-repeat 50% 0;
$img-nav-orderList: url(~@/assets/img/icon/btn_history-over.png) no-repeat 50% 0;
$img-nav-mypage: url(~@/assets/img/icon/btn_mypage-over.png) no-repeat 50% 0;

/* icon */
$img-icon-check: url(~@/assets/img/icon/btn_check_over.png) no-repeat 50% 50%;
$img-icon-check30: url(~@/assets/img/mypage/icon_check-over.png) no-repeat 50% 50%;
$img-icon-point : url(~@/assets/img/icon/icon_point.png) no-repeat 1.133rem 0.73rem;
$img-icon-cart: transparent url(/assets/img/icon/btn_cart.png) no-repeat 32% 45%;

/* popup */
$img-icon-delivery: url(~@/assets/img/main/icon_delivery.png) no-repeat 50% 1.1rem;

/* main */
$img-main-myMenu : url(~@/assets/img/main/myMenu_plus.png) no-repeat 50% 0;
$img-icon-plus: url(~@/assets/img/main/btn_plus-s.png) no-repeat 99% 50%;

/* review */
$img-review-full-star: url(~@/assets/img/review/icon_star-over.png) no-repeat 0 0;
$img-review-star1: url(~@/assets/img/review/components_star1.png) no-repeat 0 0;
$img-review-star2: url(~@/assets/img/review/components_star2.png) no-repeat 0 0;
$img-review-star3: url(~@/assets/img/review/components_star3.png) no-repeat 0 0;
$img-review-samll-star: url(~@/assets/img/review/icon_star-s-over.png) no-repeat 0 0;

$img-write-star: url(~@/assets/img/history/btn_star-over48.png) no-repeat 0 0;

/* order */
$img-megaphone: url(~@/assets/img/main/icon_megaphone.png) no-repeat 0 50%;
$img-main-coupon: url(~@/assets/img/order/components_coupon.png) no-repeat 0 55%;
$img-menu-coupon: url(~@/assets/img/order/components_coupon.png) no-repeat 1.333rem 50%;

$img-order-finish: url(~@/assets/img/history/order_finish.png) no-repeat 50% 0;

$img-procedure-order: url(~@/assets/img/history/icon_order-over.png) no-repeat 0 0;
$img-procedure-ready: url(~@/assets/img/history/icon_ready-over.png) no-repeat 0 0;
$img-procedure-delivery: url(~@/assets/img/history/icon_delivery-over.png) no-repeat 0 0;
$img-procedure-done: url(~@/assets/img/history/icon_done-over.png) no-repeat 0 0;

$img-pick: url(~@/assets/img/history/btn_pick-over.png) no-repeat 0 0;

$img-coupon-bg: url(~@/assets/img/mypage/coupon_select.png) no-repeat 0 0;
$img-changeOrder-bg: url(~@/assets/img/order/Components_info.png) no-repeat 0 0;

/* mypage */
$img-stamp-bg: url(~@/assets/img/mypage/components_stemp-over.png) no-repeat 50% 0;