// base
@import "@/assets/scss/base/_mixins.scss";
@import "@/assets/scss/base/_variables.scss";
@import "@/assets/scss/base/_function.scss";

#header {
	position: relative;

    border-bottom: 1px solid $border-color-1;
	.header-row {
		display: flex;
		align-items: center;
		height: 100%;
	
		h1 {
			padding-left: rem(14);
		}
	
	}
}
