.main_banner {
	z-index: 1;
	position: relative;
	margin: 0.667rem 0 0 1.333rem;
	background: #fff;
	-webkit-border-top-left-radius: 0.667rem;
	-webkit-border-bottom-left-radius: 0.667rem;
	border-top-left-radius: 0.667rem;
	border-bottom-left-radius: 0.667rem;
	overflow: hidden;
	box-shadow: 0 0.467rem 0.867rem 0 rgba(0, 0, 0, 0.2);
	//height: rem(240);

	.slick-slider {
		-webkit-border-top-left-radius: 0.667rem;
		-webkit-border-bottom-left-radius: 0.667rem;
		border-top-left-radius: 0.667rem;
		border-bottom-left-radius: 0.667rem;
		overflow: hidden;
		height: 8rem;
	}
}

.banner_slide {
	width: 100%;

	/* box-shadow: 0 0.467rem 0.867rem 0 rgba(0, 0, 0, 0.2); */
	background-color: #fff;
	-webkit-border-top-left-radius: 0.667rem;
	-webkit-border-bottom-left-radius: 0.667rem;
	border-top-left-radius: 0.667rem;
	border-bottom-left-radius: 0.667rem;
	overflow: hidden;
}

.swiper-slide {
	position: relative;
	width: 100%;
	height: 100%;

	> a,
	.link {
		z-index: 4;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 0;
	}

	&.slide1 {
		> div {
			p.limit_price {
				font-size: 0.8rem;
			}

			background: #fb5751 url(~@/assets/img/main/img_banner1_1.png) no-repeat 100% 0;
			background-size: 9.667rem 8rem;

			> i {
				z-index: 2;
				position: absolute;
				right: 1.333rem;
				top: 50%;
				font-family: "JalnanOTF";
				font-size: 1.433rem;
				letter-spacing: -0.029rem;
				color: #fb5751;
				transform: rotate(-15deg);
				width: 6rem;
				text-align: center;

				&.percent {
					z-index: 2;
					position: absolute;

					/* right:2.750rem; */
					right: 1rem;
					top: 50%;
					font-family: "JalnanOTF";
					font-size: 1.433rem;
					letter-spacing: -0.029rem;
					color: #fb5751;
					transform: rotate(-15deg);
					width: 6rem;
					text-align: center;
				}

				> strong {
					font-family: "JalnanOTF";
					font-size: 0.933rem;
					line-height: 1.8;
					letter-spacing: -0.019rem;
					color: #fb5751;
				}
			}
		}

		overflow: hidden;
		height: 8rem;
		background-color: #fb5751;
	}

	&.slide2 {
		height: 8rem;
		background-color: #383c44;

		> div {
			/* border-top-left-radius:0.667rem;
      border-bottom-left-radius:0.667rem; */
			overflow: hidden;
			background: #383c44 url(~@/assets/img/main/img_banner2.png) no-repeat 100% 100%;
			background-size: 10.167rem 7.9rem;
		}
	}

	&.slide3 {
		height: 8rem;
		background-color: #ffbb00;

		> div {
			/* border-top-left-radius:0.667rem;
      border-bottom-left-radius:0.667rem; */
			overflow: hidden;
			background: #ffbb00 url(~@/assets/img/main/img_banner3.png) no-repeat 100% 0;
			background-size: 8.933rem 8rem;

			> {
				h2 {
					padding: 0 0 0.267rem 0;
				}

				span {
					z-index: 3;
					position: relative;
					display: inline-block;
					font-family: "THEFACESHOP";
					font-size: 1.6rem;
					font-weight: normal;
					letter-spacing: -0.032rem;
					color: #ffffff;

					&::before {
						z-index: -1;
						content: "";
						display: block;
						width: 100%;
						height: 0.333rem;
						background: #ffa700;

						/* opacity:.4; */
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}
			}
		}
	}

	&.giveaway_banner {
		height: 8rem;
		background-color: #8529d5;
		overflow: hidden;
		background: #8529d5 url(~@/assets/img/main/giveaway_banner.png) no-repeat 100% 0;
		background-size: 11.033rem 8rem;
	}

	&.product_banner {
		height: 8rem;
		background-color: #26292d;
		overflow: hidden;
		background: #26292d url(~@/assets/img/main/product_banner.png) no-repeat 97.5% 1.133rem;
		background-size: 8.5rem 5.733rem;
	}

	&.giveaway_banner > div p,
	&.product_banner > div p {
		font-size: 0.933rem;
	}

	&.default_banner {
		&::after {
			content: "";
			display: block;
			$padding: unquote((240 / 680) * 100 + "%");
			padding-top: $padding;
		}
		background-color: #4ed4b4;
		overflow: hidden;
		background: #4ed4b4 url(~@/assets/img/main/default_banner.png) no-repeat 100% 100%;
		background-size: 22.667rem 8rem;
		.text-box {
			position: absolute;
			top: 10%;
			left: 5%;

			h2 {
				padding: 0 0 0.433rem 0;
				font-family: "S-CoreDream-8";
				font-weight: 700;
				line-height: 1.2;

				/* letter-spacing: -0.028rem; */

				@include font-size(20px, 48px);
				letter-spacing: -0.05rem !important;
				color: #ffffff;
			}

			p {
				font-family: "SpoqaHanSansNeo";
				font-size: 0.933rem;
				font-weight: 300;
				line-height: 1;
				letter-spacing: -0.028rem;
				color: #ffffff;

				@include font-size(14px, 24px);
			}
		}
	}
}

/* 경품/상품 증정 배너 */

/* 기본 배너 설정 */

/* 배너 슬라이드 _ 이미지일 경우 */

.img_banner_slide {
	display: block;
	position: relative;
	overflow: hidden;

	//height: rem(240);

	&::after {
		content: "";
		display: block;
		$padding: unquote((240 / 680) * 100 + "%");
		padding-top: $padding;
	}

	img {
		//cover

		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		min-width: 1000%;
		min-height: 1000%;
		max-width: none;
		max-height: none;
		transform: translate(-50%, -50%) scale(0.1);
	}
}

.page_num {
	z-index: 2;
	position: absolute;
	bottom: rem(34);
	left: rem(40);
	margin: 0;
	border-radius: rem(19);
	background: rgba(0, 0, 0, 0.3);
	width: rem(78);
	height: rem(38);
	line-height: rem(38);
	font-size: rem(24);
	color: rgba(#fff, 0.5);
	font-weight: 500;
	text-align: center;

	strong {
		color: #fff;
		font-weight: 500;
	}

	span > i {
		/* padding:0.433rem 0 0 0; */
		padding: 0.2rem 0;
		display: inline-block;
		width: 0.4rem;
		height: 0.633rem;

		> img {
			width: 100%;
		}
	}
}

/* 주소 노출 */

.addr_box {
	position: relative;
	padding: 1.333rem 0 0 1.333rem;

	> {
		p {
			z-index: 1;
			position: relative;

			/* padding:0.733rem 0 0.733rem 1.133rem; */
			padding: 0.933rem 0 0.933rem 1.133rem;
			font-size: 1rem;
			font-weight: 500;

			/* line-height: 1.67; */
			line-height: 1;
			letter-spacing: -0.03rem;
			color: #666666;
			border: 0.067rem solid #ddd;
			border-top-left-radius: 0.467rem;
			border-bottom-left-radius: 0.467rem;
			border-right: none;
			text-indent: 1.667rem;
			background: $img-icon-point;
			background-size: 1.4rem 1.4rem;
			height: auto;
			min-height: 1rem;
		}

		span {
			display: block;
			position: absolute;
			right: 1.333rem;
			top: 2.433rem;
			height: 1rem;

			> a {
				display: block;
				font-size: 0.867rem;
				letter-spacing: -0.026rem;
				color: #aaaaaa;
				padding: 0 0.8rem 0 0;
				background: url(~@/assets/img/icon/btn_more-s.png) no-repeat 100% 50%;
				background-size: 0.667rem 0.667rem;
			}
		}

		p > {
			a {
				z-index: 2;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: 0;
			}

			i {
				padding: 0.5rem 0 0 0;
				display: block;
				width: 100%;
				font-size: 0.733rem;
				line-height: 1.09;
				letter-spacing: -0.022rem;
				text-align: left;
				color: #888888;
			}
		}
	}
}

/* 주문 best */

.best_top {
	z-index: 1;
	position: relative;
	padding: 2.333rem 0 0 0;

	h2 > span {
		display: inline-block;
		width: 1.133rem;
		padding: 0.067rem 0 0 0.467rem;

		> img {
			width: 100%;
		}
	}
}

.best_info {
	display: none;
	z-index: 2;
	position: absolute;
	top: 1.56rem;
	left: 3.55rem;
	padding: 0.6rem 0 0 0;
	background: url(/views/mns_v3/common/assets/images/main/Components_info.png) no-repeat 50% 50%;
	background-size: 10.533rem 5rem;

	> p {
		padding: 1rem;
		width: 8.533rem;
		font-size: 0.867rem;
		line-height: 1.62;
		letter-spacing: -0.026rem;
		color: #888888;
	}
}

.best_menu {
	padding: 1.133rem 0 0 0;
	width: 100%;

	> li {
		z-index: 1;
		position: relative;
		margin: 0 0 1rem 0;

		&:last-child {
			padding: 0;
		}
	}
}

.product_img {
	float: left;
	z-index: 1;
	position: relative;
	display: block;
	width: 6rem;
	height: 6rem;
	border-radius: 0.467rem;
	overflow: hidden;

	&::after {
		z-index: 3;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 0.067rem solid #ddd;
		border-radius: 0.467rem;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
	}

	> {
		a {
			z-index: 1;
			position: relative;
			display: block;
			width: 100%;
			height: 100%;

			> img {
				z-index: 3;
				position: absolute;
				top: 50%;
				left: 50%;
				max-width: 99%;
				max-height: 99%;
				transform: translateX(-50%) translateY(-50%);
			}
		}

		i {
			z-index: 2;
			display: inline-block;
			padding: 0.233rem 0.333rem;
			position: absolute;
			top: 0.467rem;
			left: 0.467rem;
			height: 0.9rem;
			font-size: 0.733rem;
			line-height: 1.09;
			letter-spacing: -0.022rem;
			text-align: center;
			color: #ffffff;
			background: var(--main-color);
			border-radius: 0.267rem;
		}

		.sold_out {
			z-index: 3;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			padding: 2.367rem 0;
			width: 99%;
			height: 99%;
			background: rgba(0, 0, 0, 0.5);
			font-size: 0.867rem;
			font-weight: 600;
			line-height: 1.69;
			letter-spacing: -0.026rem;
			text-align: center;
			color: #ffffff;
			box-sizing: border-box;
			border-radius: 0.467rem;
			overflow: hidden;
		}
	}

	&.best_no_img > a {
		position: relative;
		border-radius: 0.467rem;
		background-color: #f6f6f6;

		/* border:0.067rem solid #ddd;
    box-sizing:border-box; */

		&::after {
			z-index: 1;
			content: "";
			display: block;
			width: 2.867rem;
			height: 2.867rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background: url(~@/assets/img/main/best_no_img.png) no-repeat 0 0;
			background-size: 2.867rem 2.867rem;
		}
	}
}

/* 베스트메뉴 _ 이미지 없을 경우 */

.product_info {
	/* float:left; */
	/* padding:0.300rem 0 0 1.0rem; */
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 7rem;
	transform: translateY(-50%);
	height: 4.867rem;

	> {
		h3 {
			width: 100%;

			> {
				i {
					float: left;
					display: block;
					height: 0.9rem;
					padding: 0.233rem 0.333rem;
					margin: 0 0.467rem 0 0;
					font-size: 0.733rem;
					line-height: 1.09;
					letter-spacing: -0.022rem;
					text-align: center;
					color: #ffffff;
					background: #afb4bf;
					border-radius: 0.2rem;
				}

				a {
					float: left;
					display: block;
					font-size: 1rem;
					font-weight: 600;
					line-height: 1.2;
					letter-spacing: -0.03rem;
					color: #444444;
				}
			}
		}

		div {
			padding: 0.667rem 0;

			strong {
				float: left;
				display: block;
				padding: 0 0.3rem 0 0;
				font-size: 1rem;
				font-weight: 600;

				/* line-height: 1.47; */
				color: var(--main-color);
			}

			span {
				float: left;
				display: block;
				font-size: 1rem;

				/* line-height: 1.47; */
				color: #666666;
			}

			em {
				position: relative;
				float: left;
				margin: 0.067rem 0 0 0.233rem;
				display: block;
				font-size: 0.867rem;
				line-height: 1.1;
				letter-spacing: -0.026rem;
				color: #cccccc;

				&::after {
					content: "";
					display: block;
					z-index: 2;
					position: absolute;
					left: 0;
					top: 50%;
					width: 100%;
					height: 0.067rem;
					background: #ccc;
					transform: translateY(-50%);
				}
			}
		}

		p {
			display: inline-block;

			/* padding:0.133rem 0.533rem 0.167rem 0.533rem; */
			padding: 0.183rem 0.533rem 0.117rem 0.533rem;
			font-size: 0.733rem;
			height: 0.9rem;

			/* line-height: 1.09; */
			letter-spacing: -0.022rem;
			color: #a3a6ab;
			border: 0.067rem solid #afb4bf;
			border-radius: 0.267rem;
			line-height: 1.2;
		}
	}
}

/* 핫딜 */

.hot_box {
	padding: 2.333rem 0 0 0;

	> div > div {
	}
}

.hot_slide {
	padding: 1.133rem 0 0 0;
	width: 100%;

	li {
		width: 100%;
		max-width: 640px;

		> span {
			z-index: 1;
			position: relative;
			display: block;

			> img {
				border-top-left-radius: 0.6rem;
				border-top-right-radius: 0.6rem;
				width: 100%;
				height: 100%;
				max-height: 7.333rem;
			}
		}
	}
}

.open_day {
	position: absolute;
	top: 0;
	right: 2.367rem;
	padding: 0.433rem 0.833rem 0.8rem 0.833rem;
	width: 1.667rem;
	background: url(~@/assets/img/main/components_flag.png) no-repeat 0 100%;
	background-size: 3.333rem 3.333rem;

	> {
		i {
			display: block;
			-webkit-text-stroke: 0.033rem rgba(0, 0, 0, 0);
			font-size: 0.733rem;
			line-height: 1.27;
			letter-spacing: -0.022rem;
			text-align: center;
			color: #ffffff;
		}

		strong {
			display: block;
			padding: 0.267rem 0 0 0;
			-webkit-text-stroke: 0.033rem rgba(0, 0, 0, 0);
			font-size: 0.933rem;
			font-weight: 600;
			line-height: 1;
			text-align: center;
			color: #ffffff;
			white-space: nowrap;
		}
	}
}

.hot_info {
	padding: 1.333rem;
	border: 0.067rem solid #ddd;
	border-top: none;
	border-bottom-left-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
	overflow: hidden;

	> {
		h3 {
			font-size: 1.067rem;
			font-weight: 600;
			line-height: 1.44;
			letter-spacing: -0.032rem;
			color: #444444;
		}

		p {
			width: 105%;
			padding: 0.533rem 0 0.667rem 0;
			white-space: nowrap;

			> span {
				/* width:20.78%; */
				position: relative;
				float: left;
				display: block;
				height: 1.033rem;
				font-size: 0.867rem;
				line-height: 1.3;
				letter-spacing: -0.026rem;
				color: #888888;
				font-weight: 400;

				&:nth-child(1) {
					padding: 0 0.7rem 0 0;
					margin: 0 0.7rem 0 0;

					/* width:63%; */

					&::after {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						width: 0.067rem;
						height: 0.8rem;
						background: #ccc;
						transform: translateY(-50%);
					}
				}
			}
		}

		div {
			strong {
				float: left;
				display: block;
				padding: 0 0.4rem 0 0;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.47;
				color: var(--main-color);
			}

			span {
				float: left;
				display: block;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.47;
				color: #222;
			}

			em {
				position: relative;
				float: left;
				margin: 0.067rem 0 0 0.333rem;
				display: block;
				font-size: 0.867rem;
				line-height: 1.69;
				letter-spacing: -0.026rem;
				color: #cccccc;

				&::after {
					content: "";
					display: block;
					z-index: 2;
					position: absolute;
					left: 0;
					top: 50%;
					width: 100%;
					height: 0.067rem;
					background: #ccc;
					transform: translateY(-50%);
				}
			}
		}
	}
}
/* 나의 단골메뉴 */

.myMenu_list {
	padding: 2.333rem 0;
}

.main_section_box.myMenu_list > div {
	z-index: 1;
	position: relative;
	padding: 0;
}

.myMenu_list > div > h2 {
	padding: 0 1.333rem;
}

.myMenu_wrap {
	width: 100%;
	overflow-x: auto;
	padding: 0 !important;
}

.myMenu_box {
	padding: 1.133rem 0;
	width: 42.833rem;
	@include clearfix;

	> li {
		float: left;

		/* width:19.333rem !important; */
		height: auto;
		width: 270px;
		margin: 0 1rem 0 0;

		@media all and (min-width: 400px) {
			width: 380px;
		}

		/* height:768px; */
		height: 24.733rem;
		overflow: hidden;
		border-radius: 0.6rem;
		box-shadow: 0.333rem 0.333rem 0.667rem 0 rgba(0, 0, 0, 0.1);
		border: solid 0.067rem #dddddd;
		background-color: #ffffff;

		&:first-child {
			margin: 0 1rem 0 1.333rem;
		}

		&:last-child {
			margin: 0 1.333rem 0 0;
		}
	}

	div > li.slick-active {
		/* width:580px !important; */
		width: 19.333rem !important;
	}

	li > div {
		padding: 0;
	}
}
.myMenu_inner {
	padding: rem(20);
}

.myMenu_total {
	width: 100%;
	border-bottom: 0.067rem solid #e6e6e6;

	&::after {
		content: "";
		display: block;
		clear: both;
	}

	> {
		strong {
			display: inline-block;

			/* width:19.827%; */
			/* height:0.900rem;
      padding:0.233rem 0.533rem;
      font-size: 0.733rem;
      line-height: 1.09;
      letter-spacing: -0.022rem;
      color: #666666;
      background:#edeff1;
      border-radius:0.200rem;
      white-space: nowrap; */

			height: auto;
			padding: 0.063rem 0.533rem;
			margin: 0 0.467rem 0 0;
			font-size: 0.733rem;

			/* line-height: 1.09; */
			line-height: 1.15;
			letter-spacing: -0.022rem;
			text-align: center;
			color: #666;
			background: #edeff1;
			border-radius: 0.2rem;
		}

		h3 {
			padding: 0.867rem 0 0.467rem 0;
			font-size: 1.067rem;
			font-weight: 600;
			letter-spacing: -0.032rem;
			color: #222222;
		}

		p {
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.4;
			color: #666666;
		}
	}
}

.myMenu_all {
	margin: 1rem 0;
	width: 100%;
	height: 10.833rem;
	overflow: auto;

	padding: rem(10) rem(20);

	> ul > li {
		padding: 0 0 1rem 0;

		&:last-child {
			padding: 0;
		}

		> h4 {
			z-index: 1;
			position: relative;
			width: 100%;

			> button {
				z-index: 1;
				position: relative;
				width: 14.667rem;
				padding: 0 0 0.667rem 0;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.67;
				letter-spacing: -0.03rem;
				color: #444444;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				background: transparent;
				text-align: left;
				font-family: "Arial";
				color: #444;

				> {
					i {
						display: inline-block;
						padding: 0.286rem 0.533rem 0.23rem 0.533rem;
						margin: 0 0.467rem 0 0;
						height: auto;
						line-height: 1.09;
						font-size: 0.733rem;
						letter-spacing: -0.022rem;
						text-align: center;
						color: #666;
						background: #edeff1;
						border-radius: 0.2rem;
					}

					span {
						z-index: 1;
						position: relative;
						width: 14.667rem;
						padding: 0 0 0.667rem 0;
						font-size: 1rem;
						font-weight: 600;

						/* line-height: 1.67; */
						letter-spacing: -0.03rem;
						color: #444444;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						background: transparent;
						text-align: left;
						font-family: "Spoqa Han Sans Neo";
						color: #444;
					}
				}
			}

			&::after {
				z-index: 2;
				content: "";
				display: block;
				position: absolute;
				top: 0.133rem;
				right: 0.033rem;
				width: 1.2rem;
				height: 1.2rem;
				background: url(~@/assets/img/icon/btn_down_36.png) no-repeat 0 0;
				background-size: 1.2rem 1.2rem;
			}
		}

		&.on {
			> h4::after {
				background: url(~@/assets/img/icon/btn_up_36.png) no-repeat 0 0;
				background-size: 1.2rem 1.2rem;
			}

			> ul {
				display: block;
			}
		}

		> ul {
			padding: 0 0 0.667rem 0;
			display: none;
		}

		> {
			ul > li {
				padding: 0 0 0.667rem 0;
				font-size: 0.867rem;

				/* line-height: 1.62; */
				letter-spacing: -0.026rem;
				color: #888888;

				&:last-child {
					padding: 0;
				}
			}

			p {
				font-size: 1rem;
				font-weight: 500;
				line-height: 1.67;
				letter-spacing: -0.03rem;
				color: #666666;
			}
		}
	}
}

.myMenu_box li {
	button.btn_cart {
		width: 100%;
		padding: 1.333rem 0 1.467rem 0;
		border-top: 0.067rem solid #ddd;
		text-align: center;
		text-indent: 1.933rem;
		font-size: 1rem;

		/* line-height: 1.5; */
		color: #fb5751;
		background: transparent url(~@/assets/img/icon/btn_cart.png) no-repeat 32% 45%;
		background-size: 1.4rem 1.4rem;

		&.close {
			color: #aaa;
			background: transparent url(~@/assets/img/icon/btn_cart_off.png) no-repeat 32% 45%;
			background-size: 1.4rem 1.4rem;
		}
	}
}

/* 단골메뉴 추가 */

.myMenu_blank {
	/* padding:6.667rem 0 0 0; */
	padding: 6rem 0 0 0;
	width: 100%;

	> {
		span {
			display: block;

			> a {
				display: block;
				padding: 3.867rem 0 0 0;
				font-size: 1.067rem;
				font-weight: 600;
				line-height: 1.56;
				letter-spacing: -0.032rem;
				text-align: center;
				color: #444444;
				background: url(~@/assets/img/main/myMenu_plus.png) no-repeat 50% 0;
				background-size: 3.05rem 2.95rem;
			}
		}

		p {
			padding: 0.667rem 0 6.7rem 0;
			font-size: 1rem;
			line-height: 1.6;
			letter-spacing: -0.03rem;
			text-align: center;
			color: #666666;
		}
	}
}

.moreBtn_wrap {
	z-index: 2;
	position: absolute;
	top: 0.1rem;
	right: 1.333rem;
	display: block;
	width: 1.133rem;
	height: 1.133rem;
}

/* 단골메뉴 없을 경우 */

.myMenu_none {
	margin: 1.133rem 1.333rem 0 1.333rem;
	padding: 0 1.333rem;
	height: 25.6rem;
	overflow: hidden;
	border-radius: 0.6rem;
	box-shadow: 0.333rem 0.333rem 0.667rem 0 rgba(0, 0, 0, 0.1);
	border: solid 0.067rem #dddddd;
	background-color: #ffffff;

	> {
		h2 {
			margin: 4.167rem 0 0 0;
			padding: 6.333rem 0 0 0;
			font-size: 1.067rem;
			font-weight: 600;
			letter-spacing: -0.032rem;
			text-align: center;
			color: #444444;
			background: url(~@/assets/img/main/Components_my_menu.png) no-repeat 50% 0;
			background-size: 4.667rem 4.667rem;
		}

		p {
			padding: 0.867rem 0 2rem 0;
			font-size: 1rem;
			line-height: 1.6;
			letter-spacing: -0.03rem;
			text-align: center;
			color: #666666;
		}

		span {
			display: block;
			text-align: center;

			> a {
				padding: 0.1rem 1.667rem 0.1rem 0;
				display: inline-block;
				font-size: 1rem;
				letter-spacing: -0.03rem;
				color: #fb5751;
				background: url(~@/assets/img/main/btn_plus-s.png) no-repeat 99% 50%;
				background-size: 1.2rem 1.2rem;
			}
		}
	}
}
