//Buttons
$btn-h: 32px;
$btn-line-h : $btn-h - 2px;
.btn,
[type='button'] {
	position: relative;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	user-select: none;
	border: 1px solid;
	width: auto;
	border-radius: 3px;
	letter-spacing: -0.42px;
	font-weight: normal;
	height: $btn-h;
	line-height: $btn-line-h;
	padding: 0 4px;
}

.btn-block {
	display: block;
	width: 100%;
}


// color style

.btn-a {
	border-color: #bebebe;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff, #f8f8f8);
	font-weight: bold;
	color: #333;

	&:not(:disabled, .disabled, .on):hover {
		background-image: linear-gradient(to bottom, #fff, #ececec);
	}

	&:not(:disabled, .disabled, .on):active {
		background-image: linear-gradient(to bottom, #fcfcfc, #e0e0e0);
	}

	&:disabled,
	&.disabled {
		border-color: #f5f6f8;
		background-color: #fff;
		color: #c6c6c7;
		cursor: default;
	}

	&.on {
		background-color: $primary-1;
		background-image: none;
		border-color: $primary-1;
		color: #fff;
	}
}

.btn-a-dk {
	border-color: #afb5bb;
	background-color: #fff;
	background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0.5), #e5e5e5);
	font-weight: bold;
	color: #333;

	&:not(:disabled, .disabled, .on):hover {
		background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0.349), #e5e5e5);
	}

	&:not(:disabled, .disabled, .on):active {
		background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0.349), #e5e5e5);
	}

	&:disabled,
	&.disabled {
		border-color: #f5f6f8;
		background-color: #fff;
		color: #c6c6c7;
		cursor: default;
	}

	&.on {
		background-color: $primary-1;
		background-image: none;
		border-color: $primary-1;
		color: #fff;
	}
}

.btn-b {
	border-color: $primary-1;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff, #f8f8f8);
	font-weight: bold;
	color: $primary-1;

	&:not(:disabled, .disabled, .on):hover,
	&:not(:disabled, .disabled, .on):active {
		background-image: linear-gradient(to bottom, #fff 35%, #fed4b0);
	}

	&:disabled,
	&.disabled {
		border-color: #ffcea4;
		background-color: #f5f6f8;
		color: #ffcea4;
		cursor: default;
	}

	&.on {
		background-color: $primary-1;
		background-image: none;
		border-color: $primary-1;
		color: #fff;
	}
}

.btn-c {
	background-color: $primary-1;

	font-weight: bold;
	color: #fff;

	&:not(:disabled, .disabled, .on):hover {
		background-color: #e56b00;
	}

	&:not(:disabled, .disabled, .on):active {
		background-color: #c95e00;
	}

	&:disabled,
	&.disabled {
		background-color: #e3e3e3;
		border-color: #e3e3e3;
		color: #b2b2b2;
		cursor: default;
	}
}

.btn-d {
	background-color: $primary-2;

	font-weight: bold;
	color: #fff;

	&:not(:disabled, .disabled, .on):hover {
		background-color: #25252b;
	}

	&:not(:disabled, .disabled, .on):active {
		background-color: #111113;
	}

	&:disabled,
	&.disabled {
		background-color: #e3e3e3;
		border-color: #e3e3e3;
		color: #b2b2b2;
		cursor: default;
	}
}

.btn-budisabled {
	cursor: default;
}

// 용도 style


//row
.btn-row {
	> *:first-child {
		margin-right: 2px;
	}
	> *:last-child {
		margin-left: 2px;
	}

	.btn,
	[class*='button-'] {
		flex: 0 0 50%;
		max-width: 50%;
	}
}



// Shapes


.btn-round-1 {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}





// Sizes

.btn,
[type='button'] {
	&.btn-xs {
		height: 32px;
		line-height: 30px;
	}
	&.btn-md {
		height: 40px;
		line-height: 38px;
		padding: 0 20px;
		width: 160px;
		font-size: 16px;
	}

	&.btn-lg {
		height: 45px;
		line-height: 43px;
		padding: 0 20px;
		width: 160px;
		font-size: 16px;
	}

	&.btn-xl {
		height: 50px;
		line-height: 48px;
		padding: 0 20px;
		font-size: 16px;
	}

	&.btn-full {
		width: 100%;
	}
}



