@charset "utf-8";
@font-face {
	font-family: "JalnanOTF";
	font-style: normal;
	font-weight: 200;
	src: url("~@/assets/fonts/JalnanOTF.otf") format("otf"), url("~@/assets/fonts/Jalnan.ttf") format("ttf"), url("~@/assets/fonts/Jalnan.eot") format("eot"), url("~@/assets/fonts/Jalnan.woff") format("woff"), url("~@/assets/fonts/Jalnan.woff2") format("woff2"), url("~@/assets/fonts/Jalnan.svg") format("svg");
}
@font-face {
	font-family: "JalnanOTF";
	font-style: normal;
	font-weight: 400;
	src: url("~@/assets/fonts/JalnanOTF.otf") format("otf"), url("~@/assets/fonts/Jalnan.ttf") format("ttf"), url("~@/assets/fonts/Jalnan.eot") format("eot"), url("~@/assets/fonts/Jalnan.woff") format("woff"), url("~@/assets/fonts/Jalnan.woff2") format("woff2"), url("~@/assets/fonts/Jalnan.svg") format("svg");
}
@font-face {
	font-family: "JalnanOTF";
	font-style: bold;
	font-weight: 700;
	src: url("~@/assets/fonts/JalnanOTF.otf") format("otf"), url("~@/assets/fonts/Jalnan.ttf") format("ttf"), url("~@/assets/fonts/Jalnan.eot") format("eot"), url("~@/assets/fonts/Jalnan.woff") format("woff"), url("~@/assets/fonts/Jalnan.woff2") format("woff2"), url("~@/assets/fonts/Jalnan.svg") format("svg");
}
@font-face {
	font-family: "THEFACESHOP";
	font-style: normal;
	font-weight: 400;
	src: url("~@/assets/fonts/THEFACESHOP.otf") format("otf"), url("~@/assets/fonts/THEFACESHOP.eot") format("eot"), url("~@/assets/fonts/THEFACESHOP.woff") format("woff"), url("~@/assets/fonts/THEFACESHOP.woff2") format("woff2"), url("~@/assets/fonts/THEFACESHOP.svg") format("svg");
}
