@font-face {
	font-family: "THEFACESHOP";
	font-style: normal;
	font-weight: 400;
	src: url("~@/assets/fonts/THEFACESHOP.otf") format("otf"), url("~@/assets/fonts/THEFACESHOP.eot") format("eot"), url("~@/assets/fonts/THEFACESHOP.woff") format("woff"), url("~@/assets/fonts/THEFACESHOP.woff2") format("woff2"), url("~@/assets/fonts/THEFACESHOP.svg") format("svg");
}
